<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2-2.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		
		
	<context:annotation-config/>
	
		
	<bean id="mvnBuildRunner" class="net.spring4.chap01.impl.MavenBuilderRunner">
	
		<property name="mavenPath">
			<value>c:\Document\Users\Documents\.m2</value>
		</property>
		
	</bean>

	<bean id="sampleProject" class="net.spring4.chap01.Project">
		<property name="srcDirs">
				<list>
					<value>src/</value>
					<value>srcResources/</value>
					<value>view/</value>
				</list>		
			</property>
			
			<property name="binDir" value="bin/"/>
			
			<property name="buildRunner">
				<ref bean="mvnBuildRunner"/>
			</property>
	</bean>

	<bean id="user1" class="net.spring4.chap02.User">
		<constructor-arg value="bkchoi"/>
		<constructor-arg value="1234"/>
		
	</bean>
	
	<bean id="user2" class="net.spring4.chap02.User">
		<constructor-arg ><value>rrkim</value></constructor-arg>
		<constructor-arg value="1234"/>
		
	</bean>
	
	<bean id="user4" class="net.spring4.chap02.User">
		<constructor-arg value="2B"/>
		<constructor-arg value="100010"/>
		
	</bean>


	<bean id="user3" class="net.spring4.chap02.User">
		<constructor-arg value="9S"/>
		<constructor-arg value="0100101"/>
		
	</bean>
		
	<bean id="userRepository" class="net.spring4.chap02.UserRepository">
		<qualifier value="normal"/>	
		<constructor-arg>
			<list>
				<ref bean="user1"/>
				<ref bean="user2"/>
			</list>
		
		</constructor-arg>
	</bean>

	<bean id="userRepository_s" class="net.spring4.chap02.UserRepository">
		<qualifier value="nier"/>	
		<constructor-arg>
			<list>
				<ref bean="user3"/>
				<ref bean="user4"/>
			</list>
		
		</constructor-arg>
	</bean>	
	  
	  

	
	<bean id="orderService" class="net.spring4.chap02.OrderService"/>

	<bean id="sessionviewProvider" class="com.openid.kim.SessionViewProvider"/>
	
	
<!-- 	<bean id="eventRepository" class="net.spring4.chap07.EventRepository" /> -->
	

		
	<!-- <bean id="pwChangeSvc" class="net.spring4.chap02.PasswordChangeservice">
		<constructor-arg><ref bean="userRepository"/></constructor-arg>
	</bean> -->
	
<!-- 	<bean id="authFailLogger" class="net.spring4.chap02.AuthFailLogger">
		<property name="threshold" value="5"/>
	</bean> -->
	
	<!-- <bean id="authService" class="net.spring4.chap02.AuthenticationService">
		<property name="failLogger" ref="authFailLogger">
			<ref bean="userRepository"/>
		</property> -->
<!-- 	</bean> -->

 	<!--  chap05 PropertyEditor 추가. CustomEditorConfigurer 사용하기 -->
 	<!-- <bean class="org.springframeworks.beans.factory.config.CustomEditorConfigurer">
 			<property name="customEditors">
 				<map>
	 				<entry key="net.spring4.chap05.Money" 
	 					value = "net.spring4.chap05.MoneyEditor">
	 				
	 				</entry>
 				</map>
 			</property>
 			
 	</bean> -->
 	
</beans>

